// Place all the styles related to the my_first_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-name 
{
    font-size: 24pt;
    padding: 20px 20px 0px 75px;
}

.user-picture 
{
  img {
    width: 450px;
    border: 3px solid;
      }
  padding: 20px 20px 20px 70px;
}

.homepage-link 
{
    display: block;
    padding: 0px 20px 0px 30px;
    font-size: 30px;
}

#td_first 
{
    vertical-align: top;
    padding-top: 40px;
}